/* styles.css */

/* AnchorPane */
.anchor-pane {
    -fx-background-color: #e6f5e6; /* Light green */
}

/* Label */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #006600; /* Dark green */
}

/* Button */
.button {
    -fx-font-size: 16px;
    -fx-font-weight: 200;
    -fx-letter-spacing: 1px;
    -fx-padding: 13px 20px; /* Adjusted padding */
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: rgba(130, 255, 76, 0.5); /* Yellow with opacity */
}

/* Adjusted padding for media query */
@media (min-width: 768px) {
    .button {
        -fx-padding: 13px 50px;
    }
}



.custom-textarea {
    -fx-background-color: #54ad43; /* Background color */
    -fx-text-fill: #333; /* Text color */
    -fx-border-color: #54ad43; /* Border color */
    -fx-border-radius: 5; /* Border radius */
    -fx-background-radius: 1; /* Background radius */
    -fx-padding: 3; /* Padding inside the TextArea */
    -fx-font-size: 14px; /* Font size */
    -fx-font-family: 'Arial'; /* Font family */
}

/* Optional hover effect */
.custom-textarea:hover {
    -fx-background-color: #9de37b; /* Lighter background color on hover */
}


/* Style for the TextField */
.custom-textfield {
    -fx-background-color: #ffffff; /* Background color */
    -fx-text-fill: #333; /* Text color */
    -fx-border-color: #54ad43; /* Border color */
    -fx-border-radius: 10; /* Border radius */
    -fx-background-radius: 15; /* Background radius */
    -fx-padding: 15; /* Padding inside the TextField */
    -fx-font-size: 14px; /* Font size */
    -fx-font-family: 'Arial'; /* Font family */
}

/* Optional hover effect */
.custom-textfield:hover {
    -fx-border-color: #aaa; /* Darker border color on hover */
}
/* ImageView */
.image-view {
    -fx-border-color: #006600; /* Dark green */
    -fx-border-width: 1px;
    -fx-background-color: #212121; /* Background color */
    -fx-padding: 10px; /* Adjusted padding */
    -fx-border-radius: 10px; /* Border radius */
    -fx-border-style: dashed; /* Border style */
    -fx-cursor: hand; /* Cursor */
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.2), 10, 0.5, 0, 0); /* Box shadow */
}

/* MenuBar */
.menu-bar {
    -fx-background-color: #e6f5e6; /* Light green */
}

/* Menu */
.menu {
    -fx-text-fill: #006600; /* Dark green */
}

/* MenuItem */
.menu-item {
    -fx-text-fill: #006600; /* Dark green */
}

/* Custom Labels */
.title-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333; /* Dark gray text color */
}

.type-label {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: #666; /* Medium gray text color */
}

.description-label {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: #666; /* Medium gray text color */
    -fx-alignment: center;
}

.post-card {
    -fx-background-color: #f9f9f9; /* Light gray */
    -fx-border-color: #e0e0e0; /* Lighter gray */
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-padding: 15px;
    -fx-margin: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 1);
    -fx-background-radius: 8px; /* Rounded corners */
}

.post-card:hover {
    -fx-background-color: #adfa93; /* White */
    -fx-border-color: #54ad43; /* Light gray */
}