/* styles.css */

/* AnchorPane */
.anchor-pane {
    -fx-background-color: #e6f5e6; /* Light green */
}

/* Label */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #006600; /* Dark green */
}





/* Button */
.button {
    -fx-font-size: 16px;
    -fx-font-weight: 200;
    -fx-letter-spacing: 1px;
    -fx-padding: 13px 20px 13px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: rgba(130, 255, 76, 0.5); /* Yellow with opacity */
}

@media (min-width: 768px) {
    .button {
        -fx-padding: 13px 50px 13px;
    }
}






/* TextField */
.text-field {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff; /* White */
}

/* TextArea */
.text-area {
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    -fx-background-color: #F3F3F3;
    -fx-border-radius: 10px;
    -fx-width: 15em;
    -fx-height: 2.5em;
    -fx-padding: 0.8em 0.8em 0.8em 0.8em; /* top, right, bottom, left */
    -fx-font-size: 14px;
    -fx-transition: all 0.5s;
}




.text-area:hover,
.text-area:focused {
    -fx-border-color: #4A9DEC;
    -fx-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.4);

    -fx-background-color: white;
}



/* ImageView */
.image-view {
    -fx-border-color: #006600; /* Dark green */
    -fx-border-width: 1px;
    -fx-background-color: #212121; /* Background color */
    -fx-padding: 1.5rem; /* Padding */
    -fx-border-radius: 10px; /* Border radius */
    -fx-border-style: dashed; /* Border style */
    -fx-cursor: hand; /* Cursor */
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.2), 10, 0.5, 0, 0); /* Box shadow */
}

/* MenuBar */
.menu-bar {
    -fx-background-color: #e6f5e6; /* Light green */
}

/* Menu */
.menu {
    -fx-text-fill: #006600; /* Dark green */
}

/* MenuItem */
.menu-item {
    -fx-text-fill: #006600; /* Dark green */
}
