.custom-table-view {
    -fx-background-color: #f8f8f8; /* Couleur de fond */
    -fx-border-color: #d1d1d1; /* Couleur de bordure */
    -fx-border-width: 1px; /* Épaisseur de la bordure */
}

.custom-table-column {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
    -fx-padding: 5px; /* Padding pour les cellules */
    -fx-font-size: 12px; /* Taille de police des cellules */
    -fx-text-alignment: center; /* Alignement du texte */
}

